.container {
    width: 99%;
    margin: auto;
}

.col_1, .col_2, .col_3 {
    float: left;
    /*padding: 0.5%;*/
    padding-bottom: 4%;
}

.col_1 {
    width: 33.3333333333%;
}

.col_2 {
    width: 33.3333333333%;
}

.col_3 {
    width: 33.3333333333%;
}
