

body{
    background-color: #e3e5e7;
}

h2{
    text-align: center;
}

.descricao{

    padding-left: 8px;
    padding-right: 8px;
    text-indent: 25px;
}



.container{

    width: 90%;
    margin: auto;
    overflow: hidden;
}

.col_1, .col_2{

    border: 2px solid white;
    float:left;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

.col_1{


    width: 69%;
}

.col_2{

    width: 29%;
    text-align: justify;
}


.candidatos{

    width: 100%;
    height: 100%;
    margin: auto;
    background-color: darkgreen;
}
